# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ 1.16.4-Forge,1.17.1-Forge, ]
  pull_request:
    branches: [ 1.16.4-Forge,1.17.1-Forge, ]

jobs:
  build:
    name: Build and Upload Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '16'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          # Artifact name
          name: BetterF3-Forge-Package
          # A file, directory or wildcard pattern that describes what to upload
          path: build/libs
          # The desired behavior if no files are found using the provided path.